<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd">

    <bean id="fortune1" class="org.springframework.showcase.fortune.domain.Fortune">
    	<property name="source" value="Larry Wall" />
    	<property name="fortune" value="In general, if you think something isn't in Perl, try it out, because it usually is." />
    </bean>
    
    <bean id="fortune2" class="org.springframework.showcase.fortune.domain.Fortune">
    	<property name="source" value="Rob Harrop" />
    	<property name="fortune" value="Rob Harrop is always right. Remember that and you will go far." />
    </bean>

</beans>